<%- include('particles/header.ejs') %>

<ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/basket">Корзина</a></li>

</ul>

<form action="/newauth" method="post">
    <h2>Зарегистрирываться</h2>
    <input type="text" name="name" placeholder="Имя">
    <input type="password" name="password" placeholder="Пароль">
    <div></div>
    <h4 style="display: inline-block;">Вы продавец?</h4>
    <select name="seller" >
        <option value="false">Нет</option>
        <option value="true">Да</option>
    </select>
    <br>
    <button type="submit">Зарегистрирываться</button>
    
</form>
<h4>Есть аккаунт,<a href="/singIn">Войти</a></h4> 

<%- include('particles/footer.ejs') %>