<%- include('particles/header.ejs') %>

<ul>
    <li><a href="/">Главная</a></li>
    <!-- <li><a href="/basket">Корзина</a></li> -->

</ul>


<h3>
    Создание товара
</h3>

<form action="/newitem" method="post">
    <h4>Название товара</h4>
    <input type="text" name="title" placeholder="Название товара">

    <h4>Описание товара</h4>
    <input type="text" name="description" placeholder="Описание товара">

    <h4>Цена товара</h4>
    <input type="text" name="price" placeholder="Цена товара">

    <button type="submit">Создать</button>
</form>
<%- include('particles/footer.ejs') %>