<%- include('particles/header.ejs') %>

<ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/basket">Корзина</a></li>

</ul>

<h2>Чтобы сделать это действие надо <a href="/singIn">Войти</a></h2>

<%- include('particles/footer.ejs') %>